h1 {
     font-size: 40px;
     color: skyblue;
     line-height: 4.5;
     letter-spacing: 1.2em;
     text-align: center;
     text-shadow: 1px 1px 2px gray;
     background-color: rgb(183, 179, 133);
     border-bottom: 3px solid rgb(115, 115, 114);
     text-shadow: 1px color(srgb red green rgb(0, 64, 255));
}

h2 {
     font-size: 20px;
     color: pink;
     text-align: center;

}


body {
     font-family: "Arial", "Meiryo", sans-serif;
     font-size: 20px;
     text-align: center;
   }
   





